<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,viewport-fit=cover">
    <title>
        2018年6月四六级成绩查询
    </title>
</head>

<body>
    <div id="app"></div>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://static.duia.com/pro/js/web/common/js/tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://static.duia.com/pro/js/web/common/js/duia_tools.js" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript" th:src="@{${application.englishStaticServer}+'/queryPerformance2.js?v=0c06f601896b6932f149'}" src="http://menglish.static.test.duia.com/queryPerformance2.js?v=0c06f601896b6932f149"></script>
    
</body>

</html>